<!doctype html>
<meta charset="utf-8"/>
<head>
    <link rel="shortcut icon" href="../static/favicon.ico"/>
    <!--<link rel="stylesheet" href="https://unpkg.com/react-vis/dist/style.css">-->
    <!--react vis stylesheet-->
    <link rel="stylesheet" href="../static/css/style.css">
    <!--own stylesheet-->
    <link rel="stylesheet" href="../static/css/styleCustom.css">
    <title>Data Explorer</title>
</head>
<body>
       
<h2 id="print">Exposure of Euro Area Banks to Sovereigns</h2>

<script type="text/javascript">
   categories=JSON.parse('{{keys|tojson|safe}}');
   sankey_values=JSON.parse('{{sankey_data|tojson|safe}}');
   scale=JSON.parse ('{{scaling|tojson|safe}}');
   time=JSON.parse('{{time|tojson|safe}}');
</script>

<!--colours for sankey-->
<script type="text/javascript" src="../static/js/theme.js"></script>
<!--data processing; returns -1 for all invalid datasets-->
<script type="text/javascript" src="../static/js/sankey.js"></script>


<!--<div id="reactEntry" align="center"></div>-->
<div id="reactEntry" align="center"></div>
<!-- Attach React components -->
<script type="text/javascript" src="../static/bundle.js"></script>
</body>




