{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
   categories=JSON.parse('{{keys|tojson|safe}}');
   sankey_values=JSON.parse('{{sankey_data|tojson|safe}}');
   scale=JSON.parse('{{scaling|tojson|safe}}');
   time=JSON.parse('{{time|tojson|safe}}');
</script>

<!--colours for sankey-->
<script type="text/javascript" src="/BankSovereignExposures/static/theme.js"></script>
<!--data processing; returns -1 for all invalid datasets-->
<script type="text/javascript" src="/BankSovereignExposures/static/sankey.js"></script>


<!--<div id="reactEntry" align="center"></div>-->
<div id="reactEntry" align="center"></div>
<!-- Attach React components -->
<script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
{% endblock %}
